# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# QGIS
*.zip
*.rar
*.qgz
*.qgs~
*.qgs.bak
*.bak
.qgis2/

# IDEs
.idea/
.vscode/
.project
.pydevproject

# OS
.DS_Store
Thumbs.db

# Testing
tests/
.pytest_cache/